<div ng-controler="GeldInvesterenDetailCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Project titel</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    plaatje
                </div>
                <div class="col-xs-4">
                    <p>dagen nog open</p>
                    <strong>4</strong>
                </div>
                <div class="col-xs-4">
                    <p>rentepercentage</p>
                    <strong>7%</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin, ex eget
                        vulputate finibus, elit dolor egestas leo, in imperdiet ligula libero nec justo. Cras
                        eros nisl, porta et feugiat id, lobortis nec lectus. Sed ut enim at</p>
                </div>
                <div class="col-xs-4">
                    <p>Totaal bedrag / verzameld bedrag</p>

                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 45%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>