<form class="form-horizontal">
    <fieldset>
        <legend>Investeren</legend>
        <div class="form-group">
            <label for="inputNaam" class="col-lg-2 control-label">Naam</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputNaam" value="{{investering.voornaam}}"
                       disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label for="inputTussenvoegsels" class="col-lg-2 control-label">Tussenvoegsels</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputTussenvoegsels" value="{{investering.tussenvoegsels}}"
                       disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAchternaam" class="col-lg-2 control-label">Achternaam</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputAchternaam" value="{{investering.achternaam}}"
                       disabled="disabled">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Rentepercentage</label>

            <div class="col-lg-10">
                <label class="control-label"><strong>{{investering.rentepercentage}} %</strong></label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Bedrag</label>

            <div class="col-lg-10">

                <slider floor="0" ceiling="500" ng-model="investering.bedrag"></slider>

            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Beloning</label>

            <div class="col-lg-10">

                <slider floor="0" ceiling="500" ng-model="investering.bedrag"></slider>

            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary" ng-click="addInvestering()">Submit</button>
            </div>
        </div>
    </fieldset>
</form>