<div>
  <h2>Mijn profiel</h2>

  <table class="table table-striped table-hover ">
    <tbody>
    <tr>
      <td>Voornaam</td>
      <td>{{klant.voornaam}}</td>
    </tr>
    <tr>
      <td>Tussenvoegsel</td>
      <td>{{klant.tussenvoegsel}}</td>
    </tr>
    <tr>
      <td>Achternaam</td>
      <td>{{klant.achternaam}}</td>
    </tr>
    <tr>
      <td>Straatnaam en huisnummer</td>
      <td>{{klant.straatnaam}} &nbsp {{klant.huisnummer}} &nbsp {{klant.huisnummerav}}</td>
    </tr>
    <tr>
      <td>Postcode en woonplaats</td>
      <td>{{klant.postcode}} &nbsp {{klant.plaats}}</td>
    </tr>
    <tr>
      <td>Rekeningnummer als crowdfundee</td>
      <td>{{klant.debtoriban}}</td>
    </tr>
    <tr>
      <td>Rekeningnummer als crowdfunder</td>
      <td>{{klant.creditoriban}}</td>
    </tr>
    <tr>
      <td>Telefoonnummer</td>
      <td>{{klant.telefoonnummer}}</td>
    </tr>
    <tr>
      <td>Mobiel nummer</td>
      <td>{{klant.telefoonnummermobiel}}</td>
    </tr>
    <tr>
      <td>Contract</td>
      <td>{{klant.contract}}</td>
    </tr>
    </tbody>
  </table>
</div>
